
#name {
  color: black;
  font-family: var(--font-family);
  font-weight: bolder;
  font-size: 42px;
}

#contact_number {
  color: black;
  font-family: var(--font-family);
  font-weight: 600;
  margin-right: 1em;
}

#email_address {
  color: black;
  font-family: var(--font-family);
  color: black;
}

#github_profile {
  color: black;
  font-family: var(--font-family);
}

#portfolio_url {
  color: black;
  font-family: var(--font-family);
}

#instagram_url {
  color: black;
  font-family: var(--font-family);
}

#linkedin_url {
  color: black;
  font-family: var(--font-family);
}

#skills {
  color: black;
  font-family: var(--font-family);
}

#course_name {
  color: black;
  font-family: var(--font-family);
}

#college_name {
  color: black;
  font-family: var(--font-family);
  font-weight: 650;
}

#projects {
  color: black;
  font-family: var(--font-family);
}

#state_country {
  color: black;
  font-family: var(--font-family);
}

#about {
  color: black;
  font-family: var(--font-family);
}

.resume {
  background-color: white;
  padding: 2em;
}

#icons {
  color: black;
  text-decoration: none;
  margin-right: 1em;
  font-size: 26px;
}

a {
  text-decoration: none;
}

#social_icons {
  margin-top: 2em;
}

.flex {
  display: flex;
  margin-top: 3em;
}

#education-section {
  margin-left: 6em;
}

h2 {
  color: black;
  font-family: var(--font-family);
} 

#about-section {
  margin-top: 3em;
}